html, body {
	position: fixed;
	height: 100%;
	width: 100%;
}

body {
	color: white;
	font-family: 'Lato';
	text-align: center;
	margin: 40px auto;
	background: #272F32;
}

.important {
	color: #FF3D2E;
}

div.row {
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
}

div.cell {
	display: inline-block;
	background: #9DBDC6;
	position: relative;
	margin-right: 3px;
}

div.dot {
	background: white;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

div.empty {
	background: #FF3D2E;
}