html, body { 
	height: 100%;
	width: 100%;
	position: relative;
	font-family: 'Lato';
	color: white;
}

body {
	text-align: center;
	margin: 20px auto;
	background: #272F32;
}

div.row {
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
}

div.cell {
	display: inline-block;
	background: #9DBDC6;
	position: relative;
	margin-right: 3px;
}

div.dot {
	background: white;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}